.table {
    overflow: auto;
}

.active_row {
    background-color: #fafafa !important;
}

.active_row:hover td {
    background-color: #fafafa !important;
}

.select {
    min-width: 150px;
    width: 100%;
}
