.list__item {
    padding: 10px 30px !important;
}

.list__item:hover {
    background-color: #fafafa;
}

.list__item:active {
    background-color: #f0f0f0;
}

.list__form {
    width: 100%;
}

.active_row {
    background-color: #fafafa !important;
}

.active_row:hover td {
    background-color: #fafafa !important;
}

.select {
    min-width: 150px;
    width: 100%;
}
