.app__wrapper {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.borderResizeWidth {
    width: 6px;
    height: 100%;
    background-color: gray;
    z-index: 2;
    position: sticky;
    top: 0;
}

.borderResizeWidth:hover {
    cursor: ew-resize;
}
